@import models.db.User
@(user: Option[User], webJarsAssets: WebJarAssets)(implicit messages: Messages)

@main(messages("home.title"), user, webJarsAssets) {
    <div ng-app="ChatApp">
        <div ng-controller="ChatController as chat">
            <div class="col-md-7">
                <div>{{chat.receiverUser.email}}</div>

                <form>
                    <input type="text" placeholder="Enter message..."
                    ng-model="chat.currentMessage">
                    <input type="submit" value="Send"
                    ng-click="chat.sendMessage()">
                </form>
                <div>
                    <input type="text" placeholder="Get history of messages with"
                    ng-model="chat.getHistoryUserUid">
                    <button ng-click="chat.getHistory()">Get history</button>
                </div>
                <ul>
                    <li ng-repeat="msg in chat.messages track by $index">
                        {{msg}}
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                Users
                <ul>
                    <li ng-repeat="user in chat.usersList">
                        {{user.email}} <button ng-click="chat.subscribeForIndividual(user)">+</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                Subscriptions
                <ul>
                    <li ng-repeat="user in chat.individualSubscriptions">
                        <a ng-href="" ng-click="chat.selectDialog(user)">{{user.email}}</a><button ng-click="chat.unsubscribeFromUser(user)">-</button>
                    </li>
                </ul>
            </div>



        </div>
    </div>

}
